.informacao{
    margin-top: 75px;
    width: 40vw;
}

@media screen and (max-width:1020px) {
    .informacao{
        width: auto;
        padding: auto;
        justify-content: center;
    }
}

@media screen and (max-width:688px) {
    .informacao{
        width: auto;
        padding: auto;
        justify-content: center;
    }
}