.bg-fundo{
    background-image: url(../../assets/images/bg-desktop.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom right;
    width: 100%;
} 