.imgBanner img{
    width: 70%vw;
    height: auto;
}


@media screen and(max-width: 750px) {
    .imgBanner img {
        width: 300px;
        height: auto;
    }
}
@media screen and(max-width: 1020px) {
    .imgBanner {
        width: 100%;
        height: auto;
    }
}

