.imgBanner {
    width: 50vw;
    height: auto;
}


@media screen and(max-width: 750px) {
    .imgBanner {
        width: 100vw;
        padding: 0;
        margin: auto;
    }
}
@media screen and(max-width: 1020px) {
    .imgBanner {
        width: 100vw;
        padding: 0;
        margin: auto;
    }
}

